.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin label {
  font-size: 20px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.google-login-btn {
  display: flex;
  flex-direction: row;
  padding: 0px 2px 0px 0px;
  border: 1px solid transparent;
  border-radius: 2px;
  width: 296px;
  box-sizing: content-box;
  cursor: pointer;
  background-color: #0d6efd;
}

.google-btn-text-container {
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 40px;
}

.google-btn-text {
  color: #fff;
  font-size: 1.25 rem;
  font-weight: 400;
  font-family: inherit;
  line-height: 40px;
  height: 40px;
}

.or-container {
  margin: 20px 0px;
  position: relative;
  text-align: center;
}

.confirmation-container {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
}

.confirmation-container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.confirmation-container .title::before {
  content: "";
  position: absolute;
  left: 1;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(270deg, #80afda, #9abbda, #81a4c5);
}

.confirmation-container .btn-primary {
  margin: 10px;
}

.confirmation-container .btn-container {
  text-align: center;
}

.confirmation-container .list-container {
  text-align: center;
}

.header {
  min-height: 50vh;
  width: 100%;
  position: relative;
  background-color: #c3ebfe;
}

.header-text {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.home-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.service {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.service-col {
  flex-basis: 31%;
  background: #c3ebfe;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.service-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
}

.service p {
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

.college {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.college-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.college-col img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(4, 53, 249, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 40px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

.reviews {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.reviews-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #c3ebfe;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.reviews-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.reviews-col p {
  padding: 0;
  font-size: 20px;
}

.reviews-col h3 {
  margin-top: 15px;
  text-align: left;
}

.call-to-action {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(banner.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.call-to-action h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

.call-to-action a {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}
