.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin label {
  font-size: 20px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.google-login-btn {
  display: flex;
  flex-direction: row;
  padding: 0px 2px 0px 0px;
  border: 1px solid transparent;
  border-radius: 2px;
  width: 296px;
  box-sizing: content-box;
  cursor: pointer;
  background-color: #0d6efd;
}

.google-btn-text-container {
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 40px;
}

.google-btn-text {
  color: #fff;
  font-size: 1.25 rem;
  font-weight: 400;
  font-family: inherit;
  line-height: 40px;
  height: 40px;
}

.or-container {
  margin: 20px 0px;
  position: relative;
  text-align: center;
}

.confirmation-container {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
}

.confirmation-container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.confirmation-container .title::before {
  content: "";
  position: absolute;
  left: 1;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(270deg, #80afda, #9abbda, #81a4c5);
}

.confirmation-container .btn-primary {
  margin: 10px;
}

.confirmation-container .btn-container {
  text-align: center;
}

.confirmation-container .list-container {
  text-align: center;
}

.header {
  min-height: 50vh;
  width: 100%;
  position: relative;
}

.header-text {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.home-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.service {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.col {
  flex-basis: 31%;
  background: #c3ebfe;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
}

.p {
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
