:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f5f0e4;

  --buttonColor: #5599c9;
  --successColor: #4bb544;
  --errorColor: #cc3333;
}

body {
  height: 100vh;
  background-color: #7ec8fc;
  background-image: linear-gradient(19deg, #7ec8fc 0%, #ebebeb 100%);
  overflow: hidden;
  font-family: "Gill Sans Extrabold", sans-serif;
}

h1 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 800;
  border-bottom: 1px solid var(--borderColor);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--previewShadow);
  border-radius: 15px;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.form {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--previewShadow);
  margin-right: 20px;
}

.form-hidden {
  display: none;
}

.form-title {
  margin-bottom: 2rem;
  text-align: center;
}

label {
  line-height: 2.7em;
}

#form textarea {
  min-height: 100px;
  font-size: 14px;
}

.form-input-container {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
  /* margin-bottom: 20px; */
}

.form-btn {
  margin-top: 15px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: var(--buttonColor);
  border-radius: 25px;
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.form-hidden {
  display: none;
}

.form-message {
  text-align: center;
  margin-bottom: 10px;
}

.form-message-success {
  color: var(--successColor);
}

.form-message-error {
  color: var(--errorColor);
}

.input-field-error {
  color: var(--errorColor);
  border-color: var(--errorColor);
}

.input-field-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--errorColor);
}

.form-link {
  text-decoration: none;
}
